.section {
  margin-top: fluid(110, 61);

  &.grid-section {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 100px;
    row-gap: 40px;
    & > .section-main {
      margin: 0;
    }
    .estate-form__events {
      margin-top: 14px;
    }

    @include laptop {
      column-gap: 80px;
    }

    @include middle {
      column-gap: 40px;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &-stars {
    margin-left: -20px;
    user-select: none;
  }

  &-element {
    margin-top: fluid-from-desktop-to-mobile(50, 30);
  }

  &-events {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
  }
  &-description {
    max-width: 1000px;

    &::after {
      content: "|";
      margin-left: 2px;
      opacity: 1;
      animation: blink 0.7s infinite;
    }

    &--done::after {
      display: none;
    }

    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }

    &--wide {
      max-width: none;
      padding-right: 20%;

      @include laptop-large {
        padding: 0;
      }
    }
  }
  &-main {
    margin-block: fluid(80, 40) fluid(50, 30);

    &.investments {
      display: flex;
      align-items: center;
    }
  }

  &-slider__actions {
    border-top: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fluid(80, 65);

    &-pagination {
      @include mobile {
        max-width: max-content;
        order: 1;
        margin-inline: 10px;
      }
    }

    &-navigation {
      display: flex;
      column-gap: 15px;
    }

    &-navigation-prev,
    &-navigation-next {
      width: fluid(58, 44);
      height: fluid(58, 44);
      padding: fluid(14, 10);
      border: var(--border);
      border-radius: 50%;
    }
    &-navigation-prev {
      div {
        transform: rotate(180deg);
      }
    }
    &-navigation-next {
      @include mobile {
        order: 3;
      }
    }

    @include mobile {
      &.isWithout-button {
        justify-content: space-between;
      }
      justify-content: flex-end;
      padding-top: 16px;
    }
  }
  &-error,
  &-loading {
    margin-inline: auto;
    margin-block: 20px;
    font-size: fluid(48, 20);
    width: max-content;
    font-weight: 400;
  }

  &-loading {
    display: flex;

    &::after {
      content: "";
      display: inline-block;
      width: 1.5ch;
      animation: dots 1.5s infinite;
    }

    @keyframes dots {
      0%   { content: ""; }
      25%  { content: "."; }
      50%  { content: ".."; }
      75%  { content: "..."; }
      100% { content: ""; }
    }
  }
  & > h2 {
    margin-bottom: 6px;
  }
}
