.review-card {
    width: fluid(512, 358);

    border: var(--border);
    border-radius: var(--border-radius-s);
    padding: fluid(50,30);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: fluid(40,24);

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: fluid(14,6);
    }
    
    &__author {
        display: flex;
        column-gap: 12px;

        &-img {
            width: fluid(60,50);
            height: fluid(60,50); 
            border-radius: 50%;
            object-fit: cover;
        }

        &-info {
            display: flex;
            flex-direction: column;
            row-gap: 2px;

            &-name {
                font-size: fluid(20,16);
            }
        }

        @include laptop { 
            column-gap: 10px;
        }
    }

    @include laptop { 
        border-radius: var(--border-radius-xs);
    }

    @include tablet {
        width: 340px;
        padding: 16px;
    }

    @include mobile {
        margin-inline: auto;
        width: 100%;
        padding: 30px;
    }
}