.faqcard {
    width: fluid(512, 358);
    border: var(--border);
    border-radius: var(--border-radius-s);
    padding: fluid(50,30);

    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: fluid(30,20);

    &-button {
        margin-top: auto;
        width: fluid(134,107);

        @include tablet {
            padding: 0;
        }

        @include mobile {
            width: 100%;
            height: 46px;
        }
    }

    @include laptop { 
        border-radius: var(--border-radius-xs);
    }

    @include tablet {
        width: 340px;
        padding: 16px;
    }

    @include mobile {
        margin-inline: auto;
        width: 99%;
        padding: 30px;
    }

}