.search {

    &-wrapper {
        padding: 16px 90px;
    }

    &__inside {
        border: var(--border);
        box-shadow: 0 0 0 10px #191919;
        height: 100px;
        padding-inline: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        border-radius: 12px 12px 0 0;
        
        
        &-input {
            height: 100%;
            background-color: transparent;
            color: var(--color-white);
            border: none;
            font-size: 22px;
            flex-shrink: 1;
            flex-grow: 1;
        }

        &-button {
            path {
                fill: none;
            }
        }
    }
}