.tabs {
  display: flex;
  flex-direction: column;
  row-gap: fluid-from-desktop(50, 40);

  @include mobile {
    row-gap: 30px;
  }

  &__headers {
    display: flex;
    column-gap: 10px;

    &-wrapper {
      background-color: var(--color-gray-10);
      max-width: max-content;
      padding: 10px;
      border-radius: var(--border-radius-xxs);
    }

    &-button {
      width: fluid(158, 105);
      height: fluid(63, 49);
      padding: 0;

      @include mobile {
        border-radius: var(--border-radius-xxs);
      }

      &.tab-active {
        background-color: var(--color-gray-08);
      }
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: fluid-from-desktop(30, 20);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}
