.employee-card {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 16px;
    width: fluid-from-desktop(370, 305);

    padding: fluid(30,20);
    border: var(--border);
    border-radius: var(--border-radius-xs);

    @include laptop {
        width: auto;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-position {
            margin-top: 6px;
            margin-bottom: 24px;
        }

        &-input {

            @include desktop-above {
                width: 100%;
                height: 72px;
            }
            
            width: fluid-from-desktop(316, 257);
            height: fluid-from-desktop(72,56);

            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--color-gray-10);
            border-radius: var(--border-radius-xl);
            border: var(--border);
            padding: fluid(14,8) 24px;
            padding-right: 14px;

            & > input {
                background-color: transparent;
                border: none;
                flex-shrink: 1;
                max-width: calc(100% - fluid-from-desktop(44,36));

                &::placeholder {
                    color: var(--color-white);
                }
            }

            @include laptop {
                width: auto;
                padding-right: 10px;
            }

            @include mobile {
                padding-right: 8px;

            }

            @include mobile-s {
                width: 100%;
                
            }

        }
    }
    &__img{
        width: fluid-from-desktop(316, 256);
        
        & > img {
            object-fit: cover;
        }

        &-author {
            margin-inline: auto;
            border-radius: var(--border-radius-xs);
            position: relative;
        }
        &-emblem {
            margin-top: -25px;
            width: max-content;
            margin-inline: auto;

            @include laptop {
                width: 60px;
                height: 40px;
            }
        }

        @include laptop {
            margin-inline: auto;
            width: auto;
        }
        
    }
    &-sell-button {
        border-radius: 50%;
        background-color: var(--color-purple-60);
        width: fluid-from-desktop(44,36);
        height: fluid-from-desktop(44,36);

        & > div {
            width: 24px !important;
            height: 24px !important;
        }
    }
}